<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManagement"
        tools:targetApi="31">
        <activity
            android:name=".StoreAddSupplier"
            android:exported="false" />
        <activity
            android:name=".StoreDetailSupplier"
            android:exported="false" />
        <activity
            android:name=".StoreDetailProduct"
            android:exported="false" />
        <activity
            android:name=".StoreAddProduct"
            android:exported="false" />
        <activity
            android:name=".StoreAddEmployee"
            android:exported="false" />
        <activity
            android:name=".StoreDetailEmployee"
            android:exported="false" />
        <activity android:name=".Store_Detail"
            android:exported="false"/>
        <activity
            android:name=".Admin_Detail"
            android:exported="false" />
        <activity
            android:name=".BillInformation"
            android:exported="false" />
        <activity
            android:name=".StoreAddEcommerce"
            android:exported="false" />
        <activity
            android:name=".StoreDetailEcommerce"
            android:exported="false" />
        <activity
            android:name=".BillInformation"
            android:exported="false" />
        <activity
            android:name=".StoreInformation"
            android:exported="false" />
        <activity
            android:name=".Forgotpassword1"
            android:exported="false" />
        <activity
            android:name=".Forgotpassword2"
            android:exported="false" />
        <activity
            android:name=".Forgotpassword3"
            android:exported="false" />
        <activity
            android:name=".OTPVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>